@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Philosopher');
//App CSS
.app {
    background-color: #ffffff;
    max-width: 2180px;
    margin-left: auto;
    margin-right: auto;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

//Header CSS 
.main_header {
    height: 145px;
    background-color: rgb(221, 240, 226);

    .logo{
        float: left;
        margin-left: 5px;
        margin-top: 5px;
    }

    .header_title {
        width: 700px;
        float: left;
        margin-left: 5px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 4em;
        color: #ffffff;

        text-shadow: 1px 3px 11px #000000;
    }

    .button {
        float: right;
        margin: 40px 30px;
        border: solid 1.5px #117c20;
        background-color: #117c20;
        color: white;
        border-radius: 8px;
        box-shadow: 1px 1px 6px black;
        padding: 18px 32px;
        font-size: 1.5em;
        cursor: pointer;
    }
    
    .button:hover {
        background-color:  #105c1b;
        color: white;
        border: inset 1.5px black;
    }

    .dropdown {
        display: block;
        float: right;

        .user_icon {
            margin: 40px 40px 0px 40px;
            cursor: pointer;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #DDF0E2;
            min-width: 140px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;

            .link {
                display: block;
                padding: 12px 16px;

                font-size: 1.2em;
                text-decoration: none;
                
                color: black;
            }
        }

        .dropdown-content a:hover {
            font-size: 1.2em;

            color:#ffffff;
            background-color: #117C20;
        }
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}
//Home CSS
.home {
    position: relative;
}

.lr_background {
    background-image: url("../pages/Home/images/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;

    height: 950px;
    padding: 1px;
    opacity: 0.7;
}

.lr_container {
    height: 950px;
    padding: 1px;
    position: absolute;
    top: 0;
    right: 0;

    .title_container {
        float: right;
        margin: 120px 310px 0px 0px;
        z-index: 1;

        .section_title {
            font-family: 'Philosopher', sans-serif;
            font-size: 2.8em;

            float: left;
            margin: 50px;
            padding: 20px;

            color: #3d3d3d;

            cursor: pointer;
    
        }

        .section_title_active {
            font-family: 'Philosopher', sans-serif;
            font-size: 2.8em;

            float: left;
            margin: 50px;
            padding: 20px;

            color: #105c1b;
            text-decoration: underline;

            cursor: pointer;
    
        }
    }

    .lr_component_container {
        clear: both;
        float: right;

        margin: 0px 300px 50px 0px;
    }
    
}

//Login and Register Component CSS
.form_container {

    margin-right: 50px;

    .label_text {
        display: block;
        margin: 10px 0px;
        font-size: 1.8em;
    }

    .input_box {
        display: block;
        margin: 10px 0px;
        width: 450px;
        height: 50px;
        border: solid 1px #105c1b;
        border-radius: 10px;
        box-shadow: 1px 1px 8px #1a912c;
        font-size: 1.4em;
    }

    .submit_button {
        float: right;
        margin: 20px 0px;
        border: solid 1px #117c20;
        background-color: #117c20;
        color: white;
        border: 1.5px solid #117c20;
        border-radius: 8px;
        box-shadow: 1px 1px 6px black;
        padding: 18px 32px;
        font-size: 1.5em;
        cursor: pointer;
    }
    
    .submit_button:hover {
        background-color:  #105c1b;
        color: white;
        border: inset 1.5px black;
    }

    .error_message {
        display: block;
        color: #f80606;
        background-color: #ffffff80;

        border-radius: 10px;

        font-size: 1.4em;
    }
}
//Dash CSS
.welcome_message {
    margin-left: 30px;
}

.recommend_message {
    margin-left: 30px;
}
//Book CSS
.book_container {
    float: left;
    margin: 40px 65px;
    padding: 10px;
    border: 1px solid transparent;

    .book_cover {
        border-radius: 5px;
    }

    .book_name {
        text-align: center;
        font-size: 1.3em;
    }
}

.book_container:hover {
    border: 1px solid #105c1b;
    border-radius: 10px;
    cursor: pointer;
}

//Profile CSS
.profile {

    .profile_title {
        width: 250px;
        margin: 30px 20px;
    
        //border: 1px solid black;
    }

    .user_link {
        width: 50px;
        font-size: .7em;
        color: gray;

        //border: 1px solid black;
    }

    .user_profile_item {
        width: 700px;
        margin: 10px 60px;

        //border: 1px solid black;
    }
}

//Update Profile CSS
.update_profile, .selling_book {
    margin-left: 50px;

    .profile_form, .selling_form {
        
        .label_text {
            width: 120px;
            margin: 10px 0px;
            font-size: 1.7em;
        }

        .input_box {
            display: block;
            margin: 10px 0px;
            width: 450px;
            height: 40px;
            border: solid 1px #105c1b;
            border-radius: 10px;
            box-shadow: 1px 1px 8px #1a912c;
            font-size: 1.4em;
        }

        .submit_button {
            float: left;
            margin: 20px 0px;
            border: solid 1px #117c20;
            background-color: #117c20;
            color: white;
            border: 1.5px solid #117c20;
            border-radius: 8px;
            box-shadow: 1px 1px 6px black;
            padding: 18px 32px;
            font-size: 1.5em;
            cursor: pointer;
        }
        
        .submit_button:hover {
            background-color:  #105c1b;
            color: white;
            border: inset 1.5px black;
        }

        .error_message {
            display: block;
            color: #f80606;
            background-color: #ffffff80;
    
            border-radius: 10px;
    
            font-size: 1.4em;
        }
    }
}

//Selling Book 
.selling_book {

    .selling_form {

        .checkbox_division {
            margin-top: 20px;
        }

        .input_select {
            width: 120px;
            height: 30px;
            margin-left: 20px;
        }

        .checkbox_text {
            width: 120px;
            margin: 10px 0px;
            font-size: 1.4em;
        }
       
        .checkbox {
            clear: both;
            width: 20px;
            height: 20px;
            margin: 10px 10px;
            border: solid 1px #105c1b;
            border-radius: 10px;
        }
    }
}