@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Philosopher");
.app {
  background-color: #ffffff;
  max-width: 2180px;
  margin-left: auto;
  margin-right: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main_header {
  height: 145px;
  background-color: #ddf0e2;
}

.main_header .logo {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}

.main_header .header_title {
  width: 700px;
  float: left;
  margin-left: 5px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4em;
  color: #ffffff;
  text-shadow: 1px 3px 11px #000000;
}

.main_header .button {
  float: right;
  margin: 40px 30px;
  border: solid 1.5px #117c20;
  background-color: #117c20;
  color: white;
  border-radius: 8px;
  box-shadow: 1px 1px 6px black;
  padding: 18px 32px;
  font-size: 1.5em;
  cursor: pointer;
}

.main_header .button:hover {
  background-color: #105c1b;
  color: white;
  border: inset 1.5px black;
}

.main_header .dropdown {
  display: block;
  float: right;
}

.main_header .dropdown .user_icon {
  margin: 40px 40px 0px 40px;
  cursor: pointer;
}

.main_header .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #DDF0E2;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.main_header .dropdown .dropdown-content .link {
  display: block;
  padding: 12px 16px;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}

.main_header .dropdown .dropdown-content a:hover {
  font-size: 1.2em;
  color: #ffffff;
  background-color: #117C20;
}

.main_header .dropdown:hover .dropdown-content {
  display: block;
}

.home {
  position: relative;
}

.lr_background {
  background-image: url("../pages/Home/images/background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 950px;
  padding: 1px;
  opacity: 0.7;
}

.lr_container {
  height: 950px;
  padding: 1px;
  position: absolute;
  top: 0;
  right: 0;
}

.lr_container .title_container {
  float: right;
  margin: 120px 310px 0px 0px;
  z-index: 1;
}

.lr_container .title_container .section_title {
  font-family: 'Philosopher', sans-serif;
  font-size: 2.8em;
  float: left;
  margin: 50px;
  padding: 20px;
  color: #3d3d3d;
  cursor: pointer;
}

.lr_container .title_container .section_title_active {
  font-family: 'Philosopher', sans-serif;
  font-size: 2.8em;
  float: left;
  margin: 50px;
  padding: 20px;
  color: #105c1b;
  text-decoration: underline;
  cursor: pointer;
}

.lr_container .lr_component_container {
  clear: both;
  float: right;
  margin: 0px 300px 50px 0px;
}

.form-container {
  margin-right: 50px;
}

.form-container .form-label {
  display: block;
  margin: 10px 0px;
  font-size: 1.8em;
}

.form-container .form-input {
  display: block;
  margin: 10px 0px;
  width: 450px;
  height: 50px;
  border: solid 1px #105c1b;
  border-radius: 10px;
  box-shadow: 1px 1px 8px #1a912c;
  font-size: 1.4em;
}

.form-container .button {
  float: right;
  margin: 20px 0px;
  border: solid 1px #117c20;
  background-color: #117c20;
  color: white;
  border: 1.5px solid #117c20;
  border-radius: 8px;
  box-shadow: 1px 1px 6px black;
  padding: 18px 32px;
  font-size: 1.5em;
  cursor: pointer;
}

.form-container .button:hover {
  background-color: #105c1b;
  color: white;
  border: inset 1.5px black;
}

.form-container .error-message {
  display: block;
  clear: both;
  color: #f80606;
  background-color: #ffffff80;
  border-radius: 10px;
  font-size: 1.4em;
}

.welcome_message {
  width: 300px;
  float: left;
  margin-top: -130px;
  margin-left: 30px;
}

.recommend_message {
  width: 500px;
  margin-top: -10px;
  clear: both;
  margin-left: 30px;
}

.book-list .book-container {
  float: left;
  margin: 40px 65px;
  padding: 10px;
  border: 1px solid transparent;
}

.book-list .book-container .book-cover {
  border-radius: 5px;
}

.book-list .book-container .book-name {
  text-align: center;
  font-size: 1.3em;
  color: #000000;
}

.book-list .book-container:hover {
  border: 1px solid #105c1b;
  border-radius: 10px;
  cursor: pointer;
}

.profile .profile_title {
  width: 250px;
  margin: 30px 20px;
}

.profile .user_link {
  width: 50px;
  font-size: .7em;
  color: gray;
}

.profile .user_profile_item {
  width: 700px;
  margin: 10px 60px;
}

.update-profile, .selling-book {
  width: 540px;
  margin: 0 auto;
}

.selling-book .select-container {
  border: none;
}

.selling-book .select-container .form-label {
  float: left;
}

.selling-book .select-container .form-select {
  display: block;
  float: left;
  width: 150px;
  height: 30px;
  margin: 20px;
}

.selling-book .checkbox-division {
  clear: both;
}

.selling-book .checkbox-division .form-label {
  float: left;
  font-size: 1.3em;
}

.selling-book .checkbox-division .checkbox {
  float: left;
  width: 20px;
  height: 20px;
  margin: 16px 10px;
  border: solid 1px #105c1b;
  border-radius: 10px;
}

.selling-book .form-label-text {
  clear: both;
  margin-top: 80px;
}

.selling-book .button {
  margin-top: 40px;
  margin-right: 20px;
}

.selling-book .success_message {
  width: 200px;
  float: left;
  font-size: 1.5em;
}

.search .form-container {
  width: 550px;
  height: 120px;
  margin: 20px auto;
}

.search .form-input {
  display: block;
  float: left;
  width: 500px;
  margin: 5px 20px 0px 0px;
}

.book-profile-container {
  width: 1100px;
  margin: 0 auto;
}

.book-profile-container .book-name {
  margin-left: 20px;
  font-size: 2.7em;
  color: #117c20;
}

.book-profile-container .book-cover {
  float: left;
  margin-left: 40px;
  border-radius: 10px;
}

.book-profile-container .book-sell-container {
  display: block;
  float: left;
  width: 600px;
  padding: 10px 20px;
  margin-left: 50px;
  border: 1px solid #117c20;
  border-radius: 20px;
}

.book-profile-container .book-sell-container .book-price {
  font-size: 2em;
}

.book-profile-container .book-sell-container .book-seller {
  font-size: 1.6em;
}

.book-profile-container .book-sell-container .book-sell-info {
  line-height: 10px;
}

.book-profile-container .book-sell-container .button {
  float: right;
  margin: 20px 20px;
  border: solid 1.5px #117c20;
  background-color: #117c20;
  color: white;
  border-radius: 8px;
  box-shadow: 1px 1px 6px black;
  padding: 18px 32px;
  font-size: 1.5em;
  cursor: pointer;
}

.book-profile-container .book-sell-container .button:hover {
  background-color: #105c1b;
  color: white;
  border: inset 1.5px black;
}

.book-profile-container .book-info-container {
  width: 700px;
  margin-left: 40px;
  float: left;
  clear: both;
}

.book-profile-container .book-info-container .book-info-title {
  font-size: 2em;
  color: #117c20;
}

.book-profile-container .book-info-container .book-info {
  font-size: 1.4em;
}

.book-profile-container .book-condition-container {
  width: 300px;
  margin-top: 68px;
  margin-left: 40px;
  float: left;
  color: #117c20;
}
